body{
    background-color: #f67590;  
    @include pop 
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    @media  screen and (max-width:800px) {
        width: 100%;
        

    }

}
a{
    text-decoration: none;
}
span{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}
p{
    @include pop;
    font-size: 18px;
    font-weight: 500;
}
.core{
    background-color: white;
}
h2{
    font-size: 18px;
}