.grid{
    padding: 10px;
    display: grid;
    grid-template-areas: "first first second" 
                         "third fourth fifth"
                         "sixth seventh seventh"                       ;
    gap:1em;
  
    @media screen and (max-width:1000px) {
       grid-template-areas: "first""second" "third " "fourth" "fifth" "sixth" "seventh";
       grid-template-rows: repeat(7,1fr);

    }

.img_grid{
    object-fit :cover;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

}
.img_grid1{
    grid-area: first ;
}
.img_grid2{
    grid-area: second ;
}
.img_grid3{
    grid-area: third;
}
.img_grid4{
    grid-area: fourth;
}
.img_grid5{
    grid-area: fifth;
}
.img_grid6{
    grid-area: sixth;
}
.img_grid7{
    grid-area: seventh;
}